<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/dashboard.css">
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>

                </button>
                <div class="sidebar-logo">
                    <a href="dashboard.html">SportsFusion</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="perfil.html" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Perfil</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="articulos.html" class="sidebar-link">
                        <i class="lni lni-agenda"></i>
                        <span>Articulos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="usuarios.html" class="sidebar-link">
                        <i class="lni lni lni-users"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="deportes.html" class="sidebar-link">
                        <i class="lni lni-basketball"></i>
                        <span>Deportes</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="index.html" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main p-3">
            <div class="text-center">
                <h1>
                    Deportes
                </h1>

                <div class="row">
                    <!-- Formulario de búsqueda -->
                    <form class="col-sm-12 col-md-6" id="searchForm">
                        <div class="row">
                            <div class="col-6">
                                <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-search"></i>
                                </button>
                                <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                                    <i class="bi bi-x-square-fill"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-12 col-md-6 text-end">
                        <!-- Botón para abrir el formulario para abrir -->
                        <!-- Botón para abrir el formulario -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Agregar
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Producto</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Aquí se integra el formulario -->
                                        <form id="saveForm">
                                            <div class="modal-body row g-3">
                                                <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                                                <input type="hidden" id="idProducto" name="idProducto">
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="nombreProducto" class="form-label">Nombre</label>
                                                    <input id="nombreProducto" type="text" name="nombreProducto"
                                                        class="form-control" required>
                                                </div>

                                                <div class="col-sm-12 col-md-6">
                                                    <label for="RetroDisponible" class="form-label">Retro</label>
                                                    <input id="RetroDisponible" type="text" name="RetroDisponible"
                                                        min="1" step="1" class="form-control" required>
                                                </div>

                                                <div class="col-sm-12 col-md-6">
                                                    <label for="imagenProducto" class="form-label">Imagen</label>
                                                    <input id="imagenProducto" type="file" name="imagenProducto"
                                                        class="form-control" accept=".png, .jpg">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" id="guardarBtn"
                                                    class="btn btn-primary">Guardar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            // Escuchamos el evento submit del formulario
                            document.getElementById("saveForm").addEventListener("submit", function (event) {
                                // Prevenimos el comportamiento por defecto (envío del formulario)
                                event.preventDefault();

                                // Simulamos un guardado exitoso
                                // Aquí podrías realizar una llamada Ajax para guardar los datos

                                // Mostramos la alerta de SweetAlert
                                Swal.fire({
                                    icon: "success",
                                    text: "Guardado exitosamente"
                                    
                                });

                                // Cerramos el modal
                                $('#exampleModal').modal('hide');
                            });
                        </script>



                    </div>
                </div>

                <!-- Tabla para mostrar los registros existentes -->
                <table class="table table-striped">
                    <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                    <thead>
                        <tr>
                            <td colspan="6" id="rowsFound"></td>
                        </tr>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Retro</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>

                    <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                    <tbody id="tableBody">
                        <tr>
                            <th scope="row"><img src="../../resources/img/futbol.png"></th>
                            <td>Fútbol</td>
                            <td>si</td>
                            <td>
                                <button>
                                    <img src="../../resources/img/Edit.png">
                                </button>
                                <button>
                                    <img src="../../resources/img/Remove.png">
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <th scope="row"><img src="../../resources/img/baloncesto.png"></th>
                            </th>
                            <td class=>Basquetbol</td>
                            <td>Si</td>
                            <td>
                                <button>
                                    <img src="../../resources/img/Edit.png">
                                </button>
                                <button>
                                    <img src="../../resources/img/Remove.png">
                                </button>
                            </td>

                        </tr>
                        <tr>

                            <th scope="row"><img src="../../resources/img/voleibol.png"></th>

                            <td>voleibol</td>
                            <td>No</td>
                            <td>
                                <button>
                                    <img src="../../resources/img/Edit.png">
                                </button>
                                <button>
                                    <img src="../../resources/img/Remove.png">
                                </button>
                            </td>


                        </tr>
                    </tbody>
                </table>

                <!-- Componente Modal para guardar un registro -->
                <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="modalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalTitle"></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <!-- Formulario para crear o actualizar un registro -->
                            <form id="saveForm">
                                <div class="modal-body row g-3">
                                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                                    <input type="hidden" id="idProducto" name="idProducto">
                                    <div class="col-sm-12 col-md-6">
                                        <label for="nombreProducto" class="form-label">Nombre</label>
                                        <input id="nombreProducto" type="text" name="nombreProducto"
                                            class="form-control" required>
                                    </div>


                                    <div class="col-sm-12 col-md-6">
                                        <label for="RetroDisponible" class="form-label">Retro</label>
                                        <input id="RetroDisponible" type="text" name="RetroDisponible" min="1" step="1"
                                            class="form-control" required>
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <label for="imagenProducto" class="form-label">Imagen</label>
                                        <input id="imagenProducto" type="file" name="imagenProducto"
                                            class="form-control" accept=".png, .jpg">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="../../resources/js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>