.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}


.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}


.product_viewslid_nav {
    margin-left: -7px;
    margin-right: -7px;
}
.product_viewslid_nav {
    margin-top: 15px;
}




.default_btn {
    border: 1px solid #006fd0;
    background: #006fd0;
    color: #fff;
    padding: 8px 24px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 15px;
    transition: .5s;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


.buynow_btn {
    border: 1px solid #006fd0;
    background: #006fd0;
    color: #fff;
    padding: 8px 24px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 15px;
    transition: .5s;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}




  .single_payment_method.active,
  .pbt_single_btn.active {
    color: #c40000 !important;
    border: 1px solid #c40000 !important
  }

  .home_2_hero ul.slick-dots li,
  .banner_slider ul.slick-dots li {
    border: 2px solid #c40000 !important
  }

  .cart_sum_pros button,
  .cart_sum_coupon button,
  .full_atc_btn button,
  .default_btn,
  .pagination>.active>a,
  .pagination>.active>span,
  .pagination>.active>a:hover,
  .pagination>.active>span:hover,
  .pagination>.active>a:focus,
  .pagination>.active>span:focus {
    border: 1px solid #c40000 !important;
    background: #c40000 !important
  }

  .default_btn:hover,
  .default_btn.second {
    color: #c40000 !important;
    background: #fff !important
  }

  .buynow_btn {
    border: 1px solid #000 !important;
    background: #000 !important
  }

  .buynow_btn:hover,
  .buynow_btn.second {
    color: #000 !important;
    background: #fff !important
  }

  .single_size_opt .size_inp:checked+label {
    background: #000 !important
  }

  .disc_tag {
    background: #c40000 !important
  }

  .disc_tag::after {
    border-right: 13px solid #c40000 !important
  }

  .single_size_opt label {
    font-size: 16px !important
  }

  .color-red {
    color: #c40000 !important
  }

  .container{
    margin-top: 8%;
  }