body {
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

.product-images img {
  width: 100%;
  height: auto;
}

.similar-items img {
  width: 100%;
  height: auto;
}

.similar-items p {
  text-align: center;
}
