<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/inicio.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball</title>
</head>

<body>

    <!-- Navbar -->
    <header class="fixed-top">
        <a href="#" class="logo"> Logo </a>
        <div class="group">
            <ul class="navigation">
                <li><a href="#">Home</a></li>
                <li><a href="#">Mujeres</a></li>
                <li><a href="#">Hombres</a></li>
                <li><a href="#">Comentarios</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
            </ul>
            <div class="buscar">
                <span class="icon">
                    <ion-icon name="search-outline" class="searchBtn"></ion-icon>
                    <ion-icon name="close-outline" class="closeBtn"></ion-icon>
                </span>
            </div>
        </div>
        <div class="searchBox">
            <input type="text" placeholder="Busca aquí...">
        </div>
    </header>

    <!-- Carrusel -->
    <div class="container ">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../resources/carousel/Orlando_Magic_16x9.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../resources/carousel/magicCarrusel.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../resources/img/magics.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="section_padding_b">
        <div class="container-tc">
            <h2 style="text-align: center;">PRODUCTOS RECOMENDADOS</h2>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/magic20.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">2023-2024 Jersey Orlando Magic.</h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="carrito.html" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
    
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/celti.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">2023-2024 Jersey Boston Celtics</h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/lakerscard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">2023-2024 Jersey Lakers</h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/knickscard.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">2023-2024 Jersey NY Knicks.</h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="section_padding_b">
        <div class="container-tc">
            <h2 style="text-align: center;">NUEVOS PRODUCTOS</h2>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/miamicard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">2023-2024 Miami Heat Jersey </h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
    
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/phoenixcard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">2023-2024 Phoenix Suns Jersey</h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/gri.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">2023-2024 Jersey Grizzlies</h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/statecard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">2023-2024 Jersey Golden State Warriors</h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section_padding_b">
        <div class="container-tc">
            <h2 style="text-align: center;">PRODUCTOS MÁS VENDIDOS</h2>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/goldencard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">2022-2023 Golden State Warriors</h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
    
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/mambacard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Jersey Mamba Edition Lakers</h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/chicagocard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Jersey Chicago Bulls Michael Jordan</h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../../resources/img/netscard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">2023-2024 Jersey Nets</h6>
                            <div class="price mb-1">
                                <span class="org_price">€ 39.99</span>
                                <span class="prev_price">€ 89.99</span>
                            </div>
                            <div class="btn-container">
                                <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                <button class="add-to-favorites-btn">
                                    <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Links para el funcionamiento del navbar-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>


    <!--LInk del controlador de la pagina web-->
    <script type="text/javascript" src="../../controllers/public/inicio.js"></script>
</body>

</html>