<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../resources/css/inicio.css">
    <link rel="stylesheet" href="../../resources/css/detalleProducto.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/style.min.css">
    <link rel="stylesheet" href="../../resources/css/responsive.min.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitio Público</title>
</head>

<body>

    <!-- Navbar -->
    <header class="fixed-top">
        <a href="dashboard.html" class="logo"><img src="../../resources/img/logoSF.png" alt="" style="height: 60px; width: 70px;"></a>
        <div class="group">
          <ul class="navigation">
            <li><a href="dashboard.html">Inicio</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Deportes
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="basket.html">Basket</a></li>
                  <li><a class="dropdown-item" href="futbol.html">Fútbol</a></li>
                  <li><a class="dropdown-item" href="raqueta.html">Juegos de raqueta</a></li>
                </ul>
              </li>
            <li><a href="carrito.html">Carrito</a></li>
            <li><a href="retro.html">Retro</a></li>
            <li><a href="perfil_usuario.html">Perfil</a></li>
          </ul>
          
        </div>
        <div class="searchBox">
          <input type="text" placeholder="Busca aquí...">
        </div>
      </header>

    <div class="container">
        <div class="product_view_wrap section_padding_b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product_view_slider">
                            <div class="single_viewslider">
                                <img loading="lazy" src="../../resources/img/raptors-1998-99-retro.png"
                                    alt="1998-99 toronto raptors">
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6">
                        <div class="product_info_wrapper">
                            <div class="product_base_info">
                                <h1>Toronto Raptors 1998-1999</h1>
    
    
                                <div class="price mt-3 mb-3 d-flex align-items-center">
                                    <span class="prev_price ms-0">€ 89.99</span> <span class="org_price ms-2">€ 39.99</span>
                                </div>
    
    
                                <div class="shop_filter border-bottom-0 pb-0">
                                    <div class="size_selector mb-3">
                                        <h5>Size:</h5>
                                        <div class="single_size_opt single_size_fl">
                                            <input type="radio" hidden name="size" checked class="size_inp" value="S"
                                                id="size-s">
                                            <label for="size-s">S </label>
                                        </div>
                                        <div class="single_size_opt single_size_fl">
                                            <input type="radio" hidden name="size" class="size_inp" value="M" id="size-m">
                                            <label for="size-m">M </label>
                                        </div>
                                        <div class="single_size_opt single_size_fl">
                                            <input type="radio" hidden name="size" class="size_inp" value="L" id="size-l">
                                            <label for="size-l">L </label>
                                        </div>
                                        <div class="single_size_opt single_size_fl">
                                            <input type="radio" hidden name="size" class="size_inp" value="XL" id="size-xl">
                                            <label for="size-xl">XL </label>
                                        </div>
                                        <div class="single_size_opt single_size_fl">
                                            <input type="radio" hidden name="size" class="size_inp" value="XXL"
                                                id="size-xxl">
                                            <label for="size-xxl">XXL </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="cart_qnty ms-md-auto border-bottom-0 pb-2">
                                <p>Cantidad</p>
                                <div class="d-flex align-items-center" data-type="lt">
                                    <div class="cart_qnty_btn" id="decreaseBtn">
                                        <i class="lni lni-minus"></i>
                                    </div>
                                    <div class="cart_count notranslate" id="quantity">1</div>
                                    <div class="cart_qnty_btn" data-type="gt" id="increaseBtn">
                                        <i class="lni lni-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                        <div class="product_buttons">
                            <a href="javascript:;" class="default_btn small rounded me-sm-3 me-2 px-4 m-2"><i class="icon-cart me-2"></i>Añadir al carrito</a>
                            <a href="javascript:;" class="buynow_btn small rounded me-sm-3 me-2 px-4 m-2"><i class="icon-cart me-2"></i> Comprar ahora</a>
                        </div>
                        <p>Descripción</p>
                        <p>Equipación de los toronto raptors de la temporada 1998-99, dorsal #15 de Vince Carter, quien fue uno de los jugadores más notables de aquel equipo. La temporada 1998-1999 fue la cuarta temporada de los Raptors en la NBA.
                            Los Raptors terminaron la temporada con un récord de 23-27, terminando sextos en la División Central. </p>
                        <div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <section class="new_arrive section_padding_b">
            <div class="container">
                <div class="d-flex align-items-start justify-content-between">
                    <h2 class="section_title_2">Productos relacionados</h2>
                </div>
                <div class="row gy-4">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="card" style="width: 18rem;">
                                <img src="../../resources/img/goldencard.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title">2022-2023 Golden State Warriors</h6>
                                    <div class="price mb-1">
                                        <span class="org_price">€ 39.99</span>
                                        <span class="prev_price">€ 89.99</span>
                                    </div>
                                    <div class="btn-container">
                                        <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                        <button class="add-to-favorites-btn">
                                            <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
            
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="card" style="width: 18rem;">
                                <img src="../../resources/img/mambacard.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title">Jersey Mamba Edition Lakers</h6>
                                    <div class="price mb-1">
                                        <span class="org_price">€ 39.99</span>
                                        <span class="prev_price">€ 89.99</span>
                                    </div>
                                    <div class="btn-container">
                                        <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                        <button class="add-to-favorites-btn">
                                            <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="card" style="width: 18rem;">
                                <img src="../../resources/img/chicagocard.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title">Jersey Chicago Bulls Michael Jordan</h6>
                                    <div class="price mb-1">
                                        <span class="org_price">€ 39.99</span>
                                        <span class="prev_price">€ 89.99</span>
                                    </div>
                                    <div class="btn-container">
                                        <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                        <button class="add-to-favorites-btn">
                                            <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="card" style="width: 18rem;">
                                <img src="../../resources/img/netscard.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title">2023-2024 Jersey Nets</h6>
                                    <div class="price mb-1">
                                        <span class="org_price">€ 39.99</span>
                                        <span class="prev_price">€ 89.99</span>
                                    </div>
                                    <div class="btn-container">
                                        <a href="#" id="btn-card" class="btn btn-primary">Añadir al carrito</a>
                                        <button class="add-to-favorites-btn">
                                            <img src="../../resources/img/Favorite.png" alt="Agregar a Favoritos">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </section>
    </div>
   

    <!-- Links para el funcionamiento del navbar-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/css/bootstrap.min.css"></script>

    <!--LInk del controlador de la pagina web-->
    <script type="text/javascript" src="../../controllers/public/detalleProducto.js"></script>
</body>

</html>